//Interaction
1. When a cat name is clicked in the list, the cat display area should update to show the data for the selected cat.
2. The number of clicks in the cat area should be unique to each cat, and should increment when the cat's picture is clicked.